service cloud.firestore {
  match /databases/{database}/documents {
  	match /appData/appConstants {
    	allow read;
    	allow write: if request.auth.uid != null;
    }
    match /orders/{userId}/myOrders/{order} {
    	allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /allOrders/{order} {
    	allow read, write: if request.auth.uid != null;
    }
    match /userData/{userId} {
    	allow read, write: if request.auth != null;
    }
    match /orderPresets/{userId}/myPresets/{preset} {
    	allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}