@use "colors";
@use "sass:color";

body * {
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", Arial, sans-serif;
  box-sizing: border-box;
  color: colors.$primaryText;
}

script {
  display: none;
}

#App {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  & > div {
    flex: 1;
  }
}

.container {
  flex: 1;
}

button {
  border: none;
  outline: none;
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.loader {
  transition: all 0.2s ease;
  position: fixed;
  bottom: 20px;
  right: 20px;
  flex-direction: row;
  background-color: colors.$loaderBackground;
  color: colors.$textOnBackground;
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 #000000ff;
  .fas {
    color: colors.$textOnBackground;
    margin-left: 15px;
    animation: spin 1s linear infinite;
  }
  &.hidden {
    transform: scale(0.9);
    opacity: 0;
  }
}

.styled-button {
  border-style: none;
  font-size: 16px;
  flex-direction: row;
  align-items: center;
  padding: 7px 10px;
  background-color: colors.$accentColor;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: colors.$darkAccentColor;
  }
  .fas {
    margin-left: 10px;
  }
}

.error {
  transition: all 0.2s ease;
  color: colors.$errorText;
  margin: 0;
  &.hidden {
    opacity: 0;
  }
}

form {
  input:not([type=button]):not([type=submit]):not([type=checkbox]), select {
    border: none;
    padding: 15px;
    width: 100%;
    background-color: colors.$textInputColor;
    border-radius: 5px;
    font-size: 16px;
    &::placeholder {
      color: colors.$textInputText;
    }
    &[disabled] {
      background-color: transparent;
    }
  }
  input[type=date] {
    flex-direction: row;
  }
  .picker {
    position: relative;
    select {
      cursor: pointer;
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
      position: relative;
    }
    .caret {
      pointer-events: none;
      display: block;
      position: absolute;
      cursor: pointer;
      right: 1rem;
      top: 50%;
      margin-top: -1px;
      width: 0;
      height: 0;
      border-top: 5px solid #000;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }
  }
}