@use "index";

.edit-row-form {
  background-color: #fff;
  width: 60vw;
  max-width: 800px;
  max-height: 90vh;
  padding: 40px;
  border-radius: 20px;
  label {
    flex-direction: row;
    span {
      flex: 1;
      flex-direction: row;
      align-items: center;
      font-weight: bold;
      margin-right: 15px;
      .asterisk {
        color: index.$errorText;
      }
    }
    .input-wrapper {
      flex: 2;
    }
    .checkbox {
      margin: 15px 0;
    }
  }
  .footer {
    flex-direction: row;
    justify-content: space-between;
    .buttons {
      flex-direction: row;
      justify-content: flex-end;
      input {
        padding: 12px;
        margin-left: 10px;
        &.cancel {
          background-color: transparent;
          border: 1px index.$checkboxText solid !important;
          color: index.$checkboxText !important;
        }
      }
    }
  }
}