@use "index";

.simple-form {
  background-color: index.$backgroundColor;
  padding: 40px;
  label {
    flex-direction: row;
    span {
      flex: 1;
      flex-direction: row;
      align-items: center;
      font-weight: bold;
      margin-right: 15px;
      .asterisk {
        color: index.$errorText;
      }
    }
    .input-wrapper {
      flex: 2;
    }
    .checkbox {
      margin: 15px 0;
    }
  }
  .footer {
    flex-direction: row;
    justify-content: space-between;
    .buttons {
      flex-direction: row;
      justify-content: flex-end;
      input {
        padding: 12px;
        margin-left: 10px;
        &.cancel {
          background-color: transparent;
          border: 1px index.$checkboxText solid !important;
          color: index.$checkboxText !important;
        }
      }
    }
  }
}

.pop-up-form-background {
  transition: all 0.2s ease;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #00000088;
  align-items: center;
  justify-content: center;
  z-index: 1000000;
  &.closed {
    opacity: 0;
    pointer-events: none;
    form {
      pointer-events: none;
      transform: scale(0.9);
    }
  }
  form {
    transition: transform 0.2s ease;
    pointer-events: auto;
    box-shadow: 0 0 10px 0 #0000003f;
  }
}

.edit-row-form {
  width: 60vw;
  max-width: 800px;
  max-height: 90vh;
  border-radius: 20px;
}